---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">

    {% include index/description.html %}
   
  </div>
  <div class="col-md-6">  

    {% include index/carousel.html%}

  </div>
  <div class="col-md-6">

{% include feature/card.html header='This website is a list, not a search engine' text='This is a list of volumes. This static index does not look for words inside the
 text of any documents. 
It was created for quick lookups by library staff assisting researchers who already know which issue they seek.
Click on the <a href="https://Temoshee.github.io/michiganregister/timeline.html">Timeline</a> link in the navigation bar above to quickly identify 
an issue by year.'%}
   
  </div>

</div>