---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">

    {% include index/description.html %}
   
  </div>
  <div class="col-md-6">  

    {% include index/carousel.html%}

  </div>
  <div class="col-md-6">

{% include feature/card.html header="How to Search this Collection" text="This website is useful to researchers who know the year of a particular ballot proposal.
This site does not search inside the text of any documents. It was created for quick lookups by library staff."%}
   
  </div>

</div>