---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">

    {% include index/description.html %}
   
  </div>
  <div class="col-md-6">  

    {% include index/carousel.html%}

  </div>
  <div class="col-md-6">

{% include feature/card.html header='Indexed by election year only' text='This website is useful to researchers who already have the year of a ballot proposal.
This static index does not look for words in the text of any documents. It was created for quick lookups by library staff assisting researchers who already know the year of a ballot proposal. 
Click on the <a href="https://libraryofmichigan.github.io/ballotproposals/timeline.html">Timeline</a> link in the navigation bar above to quickly identify specific ballot proposals by year.
 A list of subjects can be found on <a href="https://www.michigan.gov/documents/sos/Initia_Ref_Under_Consti_12-08_339399_7.pdf" target="_blank" rel="noopener noreferrer">
  the Michigan Bureau of Elections website.</a>'%}
   
  </div>

</div>